<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="video">
            <img src="{{ thumbnail_url }}" class="video-thumbnail-1">
        </div>
        <div class="controls">
            <p>Выбрать разрешение и скачать видео.</p>
            <form action="/download" method="post">
                <div style="display: flex;">
                    <input type="submit" name="download" value="Скачать видео" class="button btn-1">
                    <input type="submit" name="download_mp3" value="Скачать mp3" class="button btn-2">
                </div>
                <!-- <p class="text-1">Видео в 360p и  720p скачивается намного быстрее.</p> -->
                <div>
                    {% for r in resolutions %}
                        {% if selected_resolution == r %}
                            <input type="submit" name="{{ r }}" value="{{ r }}" class="active-button btn-res">
                        {% else %}
                            <input type="submit" name="{{ r }}" value="{{ r }}" class="button btn-res">
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</body>
</html>